MNEMONIC=
ETHERSCAN_API_KEY=
OPTIMISM_ETHERSCAN_API_KEY= # optional, otherwise verifying fails
POLYGONSCAN_API_KEY= # optional, otherwise verifying fails
ARBISCAN_API_KEY= # optional, otherwise verifying fails